<nav class="navbar bg-lila ">
    <div class="container-fluid d-flex">
      <a class="navbar-brand align-items-center me-auto" href="#">
        <img src="img/Logo.png" alt="Logo" width="40" class="d-inline-block" >
        <span class="ms-4 text-white fw-bold " >OpenQuizzer</span>
      </a>
      <button class="green-button me-2 d-flex align-items-center px-3 py-2" routerLink="/registro">
        <i class="bi bi-person-circle fs-6 me-2"></i>
        Registro
      </button>
      <button class= "green-button d-flex align-items-center px-3 py-1" routerLink="/login">
        <i class="bi bi-key fs-5 me-2"></i>
        LogIn
      </button>
    </div>
  </nav>