<button class="btn p-0 border-0 bg-transparent me-2" data-bs-toggle="offcanvas" data-bs-target="#DesplegableMenuPerfil">
  <i class="bi bi-person-circle fs-2 text-white "></i>
</button>
<div class="offcanvas offcanvas-end" tabindex="-1" id="DesplegableMenuPerfil" #DesplegableMenuPerfil>
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">{{perfil.nombreUsuario}}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item">
          <a class="nav-link active"  [routerLink]="['']">Inicio</a>
        </li>
        <li class="nav-item">
          @if (perfil.rol == 'Creador'){ 
            <a class="nav-link active" [routerLink]="['/homeCreador/perfil']">Ver perfil</a>
          }
          @else if(perfil.rol == 'Participante'){
            <a class="nav-link active" [routerLink]="['/homeParticipante/perfil']">Ver perfil</a>
          }
          
          
          
        <li class="nav-item">
          <a class="nav-link active"  (click)="cerrarSesion()">Cerrar Sesión</a>
        </li>
        
      </ul>
      
    </div>
</div>