<div class="d-flex justify-content-center align-items-center pt-4 mb-4">
    
    @if(paso=="IngresarNombre"){
    <div class="p-4 bg-green rounded shadow d-flex flex-column align-items-center justify-content-center justify-content-lg-center"
    style="max-width: 1200px; width: 90%; min-height: 400px;">
        <div class="d-flex flex-column align-items-center text-center justify-content-center">
            <h2>Ingresa tu nombre</h2>
            <input type="text" [(ngModel)]="nombreUsuario" placeholder="Nombre" class="form-control m-4 w-75">
            <button class="lila-button" (click)="unirseSesion()">Unirse</button>
        </div>
    </div>
    }
    @if(paso=="SalaEspera"){   
    <div class="p-4 bg-green rounded shadow d-flex flex-column align-items-center justify-content-between justify-content-lg-between"
    style="max-width: 1200px; width: 90%; min-height: 400px;">
        <div class="d-flex justify-content-end" style="max-width: 1200px; width: 90%;">
            <div class="p-2 m-2 rounded shadow text-center bg-lila">
                <h5>{{numeroParticipantes}} participantes</h5>
            </div>
        </div>
        <div class="d-flex flex-column text-center">
            <h1>Sala</h1>
            <h1>{{codigoSesion}}</h1>
        </div>
        
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-evenly">
            @for(participante of participantes; track participante; let index=$index){                
                <div class="p-2 m-2 rounded shadow text-center bg-lila">
                    <h2>{{participante}}</h2>
                </div>
            }
        </div>
        <h2>Esperando a que el anfitrión inicie la sesión...</h2>
        <div class="spinner-border text-light" role="status">
        </div>
    </div>
    }
    
    @if(paso=="InicioCuestionario") {
    <div class="p-4 bg-green rounded shadow d-flex flex-column align-items-center justify-content-center justify-content-lg-center"
    style="max-width: 1200px; width: 90%; min-height: 400px;">
        <h1>{{cuestionario.nombre}}</h1>
    </div>
    }
    @if(paso=="CuentaAtras") {
    <div class="p-4 bg-green rounded shadow d-flex flex-column align-items-center justify-content-center justify-content-lg-center"
    style="max-width: 1200px; width: 90%; min-height: 400px;">
        <h1>{{tiempoRestante}}</h1>
    </div>
    }
    
    
    @if(paso=="Pregunta"){
    <div class="p-4 bg-green rounded shadow d-flex flex-column align-items-center justify-content-between justify-content-lg-between"
    style="max-width: 1200px; width: 90%; min-height: 400px;">
        <div class="d-flex justify-content-end" style="max-width: 1200px; width: 90%;">
            <div class="p-2 m-2 rounded shadow text-center bg-lila">
                {{ tiempoRestante }}s
            </div>
        </div>
        <div class="p-4 rounded bg-lila mb-3 row shadow text-center" style="max-width:1000px;  width: 90%;">
            <h2>{{preguntas[numeroPregunta].contenido}}</h2>
        </div>
        @if(preguntas[numeroPregunta].tipo=="RespuestaAbierta"){
            <div class="p-4 m-2 rounded shadow text-center" style="background-color:royalblue "> 
                <label for="Respuesta Abierta" class="form-label">Introduce tu respuesta</label>
                <input type="text" id="Respuesta Abierta" class="form-control" [(ngModel)]="nuevaPreguntaContestada.respuesta"  >
            </div>
            <button class="lila-button" (click)="finPregunta()">Enviar respuesta</button>
        }
        @else {
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-center">
                @for(respuesta of preguntas[numeroPregunta].respuestas; track respuesta; let index=$index){
                    <button  class="green-button m-2" style="background-color:royalblue"
                    (click)="guardarRespuesta(respuesta.contenido)">
                        <h3>{{respuesta.contenido}}</h3>
                    </button>
                    
                }
            </div>
        }
    </div>
    }
    @if(paso=="EsperandoRespuestas"){
    <div class="p-4 bg-green rounded shadow d-flex flex-column align-items-center justify-content-center justify-content-lg-center"
    style="max-width: 1200px; width: 90%; min-height: 400px;">
        <h2>Esperando al resto de participantes...</h2>
        <div class="spinner-border text-light" role="status"></div>
    </div>
    }
    @if(paso=="Resultado"){
    <div class="p-4 bg-green rounded shadow d-flex flex-column align-items-center justify-content-between justify-content-lg-between"
    style="max-width: 1200px; width: 90%; min-height: 400px;">
        <div class="p-4 rounded bg-lila mb-3 row shadow text-center" style="max-width:1000px;  width: 90%;">
            <h2>{{preguntas[numeroPregunta].contenido}}</h2>
        </div>
        @if(preguntasContestadas[numeroPregunta].puntuacion>0){
            <h3 class="fw-bold">Acertaste</h3>
        }
        @else {
            <h3 class="fw-bold">Fallaste</h3>
        }
        @if(preguntas[numeroPregunta].tipo=="RespuestaAbierta"){
            <div class="p-4 m-2 rounded shadow text-center" style="background-color:royalblue "> 
                <h4>Respuesta correcta</h4>
                <h5>{{preguntas[numeroPregunta].respuestas[0].contenido}}</h5>
            </div>
        }
        @else {
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between">
                @for(respuesta of preguntas[numeroPregunta].respuestas; track respuesta; let index=$index){
                    @if(respuesta.correcta=="Correcta"){
                        <div  class="p-4 m-2 rounded shadow text-center" style="background-color:royalblue">
                            <h4>Respuesta correcta</h4>
                            <h5>{{respuesta.contenido}}</h5>
                        </div>
                    }
                    @else {
                        <div  class="p-4 m-2 rounded shadow text-center" style="background-color:firebrick">
                            <h4>Respuesta incorrecta</h4>
                            <h5>{{respuesta.contenido}}</h5>
                        </div>
                    }
                }
            </div>
        }
    </div>
    }
    @if(paso=="ResultadoFinal"){
    <div class="p-4 bg-green rounded shadow d-flex flex-column align-items-center justify-content-evenly justify-content-lg-evenly"
    style="max-width: 1200px; width: 90%; min-height: 400px;">
        <h2>Has obtenido {{resultadoIndividual.puntuacionFinal}} puntos</h2>
        <ol class="list-group list-group-numbered" style="max-width: 1200px; width: 90%;">        
        @for(participante of ranking; track participante; let index=$index){
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="ms-2 me-auto">
                    <div class="fw-bold"> {{participante.nombreUsuario}}</div>
                </div>
                
                <div class="p-2 m-2 rounded shadow text-center bg-lila">
                    {{participante.puntuacionFinal}} puntos
                </div>               
            </li>
        }
        </ol>
        <button class="lila-button" (click)="salirCuestionario()">Salir</button>
    </div>
    }
    
</div>
