<div class="d-flex justify-content-center align-items-center pt-4 mb-4" style="height: 100%;">
    <div class="d-flex flex-column align-items-center justify-content-center justify-content-lg-between" style="max-width: 1200px; width: 90%;">
        <div class="p-4 m-2 bg-green rounded shadow d-flex flex-column align-items-center justify-content-center text-center"
         style="max-width: 1200px; width: 90%;">
            <div class="d-flex flex-wrap justify-content-center align-items-center justify-content-lg-evenly text-center"
            style="max-width:1000px;  width: 90%;">
                <h5>{{resultadoGrupal.fecha}}</h5>
                <h2>{{cuestionario.nombre}}</h2>
                <h5>{{resultadoGrupal.hora}}</h5>
            </div>
             
        </div>
        <div class="p-4 m-2 bg-green rounded shadow d-flex flex-column align-items-center justify-content-center text-center"
         style="max-width: 1200px; width: 90%;">
        <ol class="list-group list-group-numbered" style="max-width: 1200px; width: 90%;">        
        @for(participante of ranking; track participante; let index=$index){
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="ms-2 me-auto">
                    <div class="fw-bold"> {{participante.nombreUsuario}}</div>
                </div>
                
                <div class="p-2 m-2 rounded shadow text-center bg-lila">
                    {{participante.puntuacionFinal}} puntos
                </div>               
            </li>
        }
        </ol>
        </div>
        <button class="lila-button m-2" [routerLink]="['/homeCreador/resultadosGupales']">Volver</button>
    </div>
</div>