/* You can add global styles to this file, and also import other style files */
.bg-lila {
  background-color: #b56fca;
  color: white;
}

.bg-green{
  background-color: #4fc984;
  color: white;
}

.bg-light-green{
  background-color: #cbfbe0;
}

.green-button {
  background-color: #4fc984;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.lila-button {
  background-color: #b56fca;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.nav-link {
  cursor: pointer;
}