
<div class="d-flex justify-content-center align-items-center pt-5 m-2" style="width: 90%;">

    <div class="p-4 bg-lila rounded shadow d-flex flex-column align-items-center">
      
      <i class="bi bi-person-circle fs-1"></i>
      <h3>Registro</h3>
      
        <div class="row text-center">
          <div class="col-md-6">
            <div class="mt-1 mb-2">
              <label for="NombreUsuario" class="form-label">Nombre de usuario</label>
              <input type="text" [(ngModel)]="usuario.nombreUsuario"  class="form-control" id="NombreUsuario">
            </div>
            <div class="mb-2">
              <label for="Nombre" class="form-label">Nombre</label>
              <input type="text" [(ngModel)]="usuario.nombre"  class="form-control" id="Nombre">
            </div>
            <div class="mb-2">
              <label for="Apellidos" class="form-label">Apellidos</label>
              <input type="text" [(ngModel)]="usuario.apellidos"  class="form-control" id="Apellidos">
            </div>
          </div>
          <div class="col-md-6">
            <div class=" mt-1 mb-2">
              <label for="Correo" class="form-label">Correo electrónico</label>
              <input type="email" [(ngModel)]="usuario.correo"  class="form-control" id="Correo" placeholder="ejemplo@mail.com">
            </div>
            <div class="mb-2">
              <label for="Contrasena" class="form-label">Contraseña</label>
              <input type="password" [(ngModel)]="usuario.contrasena"  class="form-control" id="Contrasena">
            </div>
            <div class="mb-2">
              <label for="Rol" class="form-label">Rol de Usuario</label>
              <select class="form-select" id="Rol" [(ngModel)]="usuario.rol"  aria-label="Seleccionar Rol de Usuario">
                <option value="Participante">Participante</option>
                <option value="Creador">Creador</option>
              </select>
            </div>
          </div>
        </div>
        <button type="button" (click)="Registrar()" class="green-button mt-3">Registrar</button>
        <p class="mt-3 me-1">¿Ya tienes una cuenta? <a routerLink="/login"> Iniciar Sesión</a></p>
      
    </div>
</div>
