
<div class="d-flex justify-content-center align-items-center pt-5 m-2" style="width: 90%;">

    <div class="p-4 bg-lila rounded shadow d-flex flex-column align-items-center">
      
      <i class="bi bi-person-circle fs-1"></i>
      <h3>Perfil</h3>
      
        <div class="row text-center">
          <div class="col-md-6">
            <div class="mt-1 mb-2">
              <label for="NombreUsuario" class="form-label">Nombre de usuario</label>
              <input type="text" [(ngModel)]="usuario.nombreUsuario"  class="form-control" id="NombreUsuario" disabled>
            </div>
            <div class="mb-2">
              <label for="Nombre" class="form-label">Nombre</label>
              <input type="text" [(ngModel)]="usuario.nombre"  class="form-control" id="Nombre">
            </div>
            <div class="mb-2">
              <label for="Apellidos" class="form-label">Apellidos</label>
              <input type="text" [(ngModel)]="usuario.apellidos"  class="form-control" id="Apellidos">
            </div>
          </div>
          <div class="col-md-6">
            <div class=" mt-1 mb-2">
              <label for="Correo" class="form-label">Correo electrónico</label>
              <input type="email" [(ngModel)]="usuario.correo"  class="form-control" id="Correo" placeholder="ejemplo@mail.com">
            </div>
            <div class="mb-2">
              <label for="Contrasena" class="form-label">Contraseña</label>
              <input type="password" [(ngModel)]="usuario.contrasena"  class="form-control" id="Contrasena" placeholder="*********">
            </div>

          </div>
        </div>
        <div class="d-flex align-items-center">
            <button type="button" [routerLink]="['']" class="green-button m-3">Salir sin guardar</button>
            <button type="button" (click)="Guardar()" class="green-button m-3">Guardar y salir</button>
        </div>


      
    </div>
</div>
